<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

  <configuration>
    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <clear/>
      <!-- For this connection string you need to use your own username and password. Both of which start out by being your school id such as mine mjy8. -->
      <!--<add name="DBString"
           connectionString="Data Source=mjyhome.homeserver.com;Initial Catalog=JavaScriptTestDataBase;User ID=mjyahner;Password=mjyahner"/>-->
    <add name="DBString"
           connectionString="Data Source=michael;Initial Catalog=JavaScriptTestDataBase;User ID=mjyahner;Password=mjyahner"/>
    </connectionStrings>
    
</configuration>
